.sidebar{
    min-width: 70px;
    position: relative;
    height: 100vh;
}

.sidebar_black {
    background-color: #000;
    border-right: 1px solid #404040;
}

.sidebar-inner{
    width: 40px;
    position: fixed;
    height: 100vh;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .sidebar {
        display: none;
    }
}