.section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start
}
.section_theme_black {
    background-color: #000;
    color: #fff;
    background-image: url(/img/pattern_arlan.jpg);
    background-position: right bottom;
    background-size: 800px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1366px) {
    .section_theme_black {
        background-size: 600px;
    }
}