@font-face 
  font-family: 'RopaSansPro'
  font-style: normal
  font-weight: 600
  src: url('/fonts/RopaSansPro-Medium.otf') 


@font-face 
  font-family: 'RopaSansPro'
  font-style: normal
  font-weight: 500
  src: url('/fonts/RopaSansPro-Regular.otf') 


@font-face 
  font-family: 'RopaSansPro'
  font-style: normal
  font-weight: 400
  src: url('/fonts/RopaSansPro-Light.otf') 


@font-face 
  font-family: 'RopaSansPro'
  font-style: normal
  font-weight: 300
  src: url('/fonts/RopaSansPro-Thin.otf') 


/*** CONTENT */
.content 
  margin: 0 30px
  width: 100%


@media screen and (min-width: 1440px)
  .content 
    margin: 0 90px
    width: 100%
   


body 
  overflow: hidden

h1
  font-family: 'RopaSansPro'
  font-weight: 500

p, span, article, button, nav, a
  font-size: 14pt
  font-family: 'RopaSansPro'
  font-weight: 400

.main-header 
  display: flex
  justify-content: space-between
  align-items: center


/*** HOME PAGE */

.home-page__main-container 
  display: flex
  align-items: center
  justify-content: center
  height: calc(100% - 90px)


/*** TYPOGRAPHY */

.page-main-title 
  font-size: 40pt
  text-transform: uppercase
  font-weight: 500


.article-text__no-top 
  padding-top: 0
  margin-top: 0


/*** BUTTONS */
button 
  border: none
  background-color: inherit
  color: #fff
  cursor: pointer

button:active, button:focus, button:hover, button:visited 
  outline: none
